// VARIABLES
$mybodybackground: rgb(220, 241, 230);
// $body-fontfamily:

// COLORS
$color-text-body: rgba(0, 0, 0, 0.81);
$color-accent: orange;
$color-links: rgb(218, 139, 55);
$color-links-dark: rgb(84, 20, 20);

// IMPORT PARTIALS
@import 'partials/toc';
@import 'partials/typography';
@import 'partials/buttons';

body {
    background-color: $mybodybackground;

}

