/*HEADINGS*/

h1, h2, h3 {
    margin: .5em 0;
}

h1 {
    font-size: 3em;
    line-height: 1;
    color: $color-accent;
}

h2 {
    font-size: 2em;
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
}

p {
    max-width: 35em;
}

body {
    font-size: 100%;
    line-height: 1.4;
    color: $color-text-body;
}

// LINKS
a { color: $color-links;}
a:hover { color: $color-links-dark;}

/* TYPE SPECIMEN */

.mainhead {
    font-size: 6em;
    color: $color-accent;
    margin-bottom: 0;

}

.subhead {
//    font-family: $body-fontfamily;
    // color: $color-midgrey;
    margin-bottom: 1em;
}

